/*基準を1rem=10pxに設定*/
html {
    font-size: 62.5%;
}

/*最小値:1.1rem → 可変（0.9rem + 0.625vw（画面幅320px:2px, 800px:5px, 1200px:7.5px））→ 最大値:1.6rem*/
.font-size-S {
    font-size: clamp(1.1rem, calc(0.9rem + 0.625vw), 1.6rem);
}

/*最小値:1.2rem → 可変（1rem + 0.625vw（画面幅320px:2px, 800px:5px, 1200px:7.5px））→ 最大値:1.7rem*/
.font-size-M {
    font-size: clamp(1.2rem, calc(1rem + 0.625vw), 1.7rem);
}

/*最小値:1.6rem → 可変（2.2rem + 0.625vw（画面幅320px:2px, 800px:5px, 1200px:7.5px））→ 最大値:2.9rem*/
.font-size-L {
    font-size: clamp(2.4rem, calc(2.2rem + 0.625vw), 2.9rem);
}

body {
    margin: 0px;
    padding: 0;
    height: 100%;
}

p {
    font-weight: bold;
    font-size: 1vw;
}

#container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#menu {
    background-color: #3EA6A7;
    width: 20%;
    height: 100%;
    margin-bottom: 0px;
    border: 8px;
    border-color: #7A7B7B;
    border-style: none solid none none;
}

.menu-button {
    background-color: #3EA6A7;
    color: white;
    border: #3EA6A7;
    width: 100%;
    height: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 5vw;
}

.menu-button-text {
    text-decoration: none;
    color: white;
}

.menu-linkList {
    display: block;
}

.menu-link {
    display: block;
    width: 70%;
    padding: 1vw 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5vw;
    color: white;
}

#event {
    position: relative;
    height: 100vh;
    width: 80%;
    background-image: url(../picture/webp/蒼翔祭ロゴ_0000FF.webp);
    background-size: 10vw;
    background-blend-mode: lighten;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#event::-webkit-scrollbar {
    display: none;
}

#event-effect {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 1;
    overflow: auto;
}

.event-container {
    width: 70%;
    margin: auto;
}

.event-title-text {
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 4vw;
}

.event-box {
    display: flex;
    width: 100%;
    height: auto;
}

.event-img {
    height: 23vw;
    width: 20vw;
    margin: 1vw;
    object-fit: cover;
}

.event-explanation {
    width: 40%;
    border-top: 1px solid;
    /* border-bottom: 1px solid; */
}

h2 {
    font-size: 1.5vw;
    align-items: center;
    /*横線を上下中央*/
    display: flex;
    /* 文字と横線を横並び */
    justify-content: baseline;
    /* 文字を中央寄せ */
}

h1{
    font-size: 2vw;
}

p{

}

/* h2::after {
    background-color: rgb(61, 61, 61);
    content: "";
    height: 1.5px;
    margin-left: 15px;
    flex-grow: 1;
} */